/* "A LIST OF CONTENTS AT THE TOP OF THE CSS..... plus some headings in the css _MAY_ be a good idea
if it improves readability" altså evt. ha en liste her øverst... */
/* List A... */
/* List B... */
/* List C... */
/* List D.. osv.. */


:root {         /* Vi kan eks. legge inn definerte fargekoder her oppe, som vi så kan referere tilbake til nedover */
  } 

body {
  }

header {
    background-color: #fdf3cf;
    padding: 5%; 
}

.logo {
    height: 20vh;
    width: 20vw;
    position: fixed;
    top: 0;
    left: 0;
    margin-top: 20px;
    margin-left: 20px;
}

h1 {
    color:blue;
    background-color: pink;
    text-align: center;
}


/* Hamburger menu */




