header {
    background-color: #fdf3cf;
    padding: 5%; 

}

.logo {
    height: 20%;
    width: 20%;
    display: block;
}

h1 {
    color:blue;
    background-color: pink;
    text-align: center;
}