/* CSS - Liste over hva vi har gjort? */


:root {        
  } 

body {
    margin: unset;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
  }

header {
    background-color: #fdf3cf;
    padding: 5%; 
}

.logo {
    height: 125px;
    width: 125px;
    position: relative;
    top: 0;
    left: 0;
    margin-top: 20px;
    margin-left: 20px;
}

.h2-table2-5 {
  text-align: center;
}

/* NAV-BAR - HAMBURGER */ 
  
.navbar {
    background: #fdf3cf;
    color: black;
    position: relative;             /* Fordi vi vil ha Button i top-right corner, må denne være "relative" */
  }

  .navbar ul {                       /* selects ul-elements within .navbar-class */
    margin: unset;
    padding: unset;
    list-style: none;                /* fjerner bullet points fra ul-listen */
    display: flex;                   /* -> links er nå horizontally aligned */
  }

  .navbar .nav-toggle {
    display: flex;
  }

  .navbar a {                       /* alle a-tags (links) innen nav-baren */
    padding: 1em;
    color: inherit;                 /* a-tags "arver" fra en parent-element */
    text-decoration: none;          /* fjerner underline fra links */
    display: inline-block;           /* muliggjør mer padding også under/over linkene (inline-elementer) */
  }

  .navbar a.home {
    background: #e9c74d;
  }

  .navbar a:hover {
    background: #e2d191;
  }

  .navbar .hamburger {
    position: absolute;              /* absolute positioning = meant to pos. something within a parent (parent til button = nav-elementet) - if you want absolute pos. within a parent element, that parent needs something else than default positioning ("static" = default */
    top: 0;
    right: 0;
    border: unset;
    background: unset;
    cursor: pointer;
    display: none;                  /* Hider Hamburger-button når screen-size er over 650px */
  }

  .navbar .hamburger svg {
    stroke: black;
  }

  .navbar .hamburger .icon-close {
    display: none;
  }
                                                     
  @media screen and (max-width: 650px) {           /* Alt her vil styles når vi er mellom 0-650px  */
    .navbar.open ul {                         /* If we have a navbar, has also an "open"-class, then we select a ul  */
        display: block;
    }

    .navbar.open .nav-toggle {         /* Her = .navbar med .open-klassen */ 
        display: block;                 /* When you have a selector with multiple classes, its considered more specific */
    }

    .navbar.open a {
        display: block;
    }

    .navbar .nav-toggle {                                 
        display: none;            /* Skjuler alle links (untatt home) når screen size < 650px*/
        }                        /* Her = .navbar uten noen klasse - i motsetning til over hvor du har .navbar med .open-class */ /* When you have a selector with multiple classes, its considered more specific */ /* Selctor specificity 3 vs. 2 (hold over for å se) - hvordan CSS vet hva som skal ha prioritet */
    
    .navbar .hamburger {
        display: block;
    }
    
    .navbar.open .hamburger .icon-open {
        display: none;
    }

    .navbar.open .hamburger .icon-close {
        display: block;
    }

  }

    /* TABLES */
  /* TABLE 1 - Programinfo */

.table1-programinfo { 
  width: 100%; /* Gjør tabellen responsiv */ 
  border-collapse: separate; 
  border-spacing: 0; 
  background: #ffffff; 
  box-sizing: border-box;
  width: 100%;
  max-width: 800px;
  margin: 20px auto;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Styling av overskrift */
.table1-programinfo th {
  background: #ffe481;
  color: #2d3748;
  font-weight: 600;
  padding: 16px;
  text-align: left;
  border-bottom: 2px solid #e2e8f0;
  white-space: nowrap;
  box-sizing: border-box;
}

/* style hver celle */
.table1-programinfo td {
  padding: 14px;
  border-bottom: 1px solid #e2e8f0;
  color: #4a5568;
  box-sizing: border-box;
}

/* Hover effect på rader */ 
.table1-programinfo tr:hover td {
  background-color: #f7fafc;
}

/* responsive small screens*/
@media screen and (max-width: 768px) {
  table,thead,tbody,tr,th,td{
      display: block;
      width: 100%;
      box-sizing: border-box;
  }
}

/* TABLE 2 - Studiets oppbygning (alle retninger) */

.table2-emner-alle { 
  width: 100%; /* Gjør tabellen responsiv */ 
  border-collapse: separate; 
  border-spacing: 0; 
  background: #ffffff; 
  box-sizing: border-box;
  width: 100%;
  max-width: 800px;
  margin: 20px auto;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Styling av overskrift */
.table2-emner-alle th {
  background: #ffe481;
  color: #2d3748;
  font-weight: 600;
  padding: 16px;
  text-align: left;
  border-bottom: 2px solid #e2e8f0;
  white-space: nowrap;
  box-sizing: border-box;
}

/* style hver celle */
.table2-emner-alle td {
  padding: 14px;
  border-bottom: 1px solid #e2e8f0;
  color: #4a5568;
  box-sizing: border-box;
}

/* TABLE 3 - Fys-mat */ 

.table3-emner-fysmat { 
  width: 100%; 
  border-collapse: separate; 
  border-spacing: 0; 
  background: #ffffff; 
  box-sizing: border-box;
  width: 100%;
  max-width: 800px;
  margin: 20px auto;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.table3-emner-fysmat th {
  background: #ffe481;
  color: #2d3748;
  font-weight: 600;
  padding: 16px;
  text-align: left;
  border-bottom: 2px solid #e2e8f0;
  white-space: nowrap;
  box-sizing: border-box;
}

.table3-emner-fysmat td {
  padding: 14px;
  border-bottom: 1px solid #e2e8f0;
  color: #4a5568;
  box-sizing: border-box;
}

/* TABLE 4 - Statistiske-datadrevne */ 

.table4-emner-stat { 
  width: 100%; 
  border-collapse: separate; 
  border-spacing: 0; 
  background: #ffffff; 
  box-sizing: border-box;
  width: 100%;
  max-width: 800px;
  margin: 20px auto;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.table4-emner-stat th {
  background: #ffe481;
  color: #2d3748;
  font-weight: 600;
  padding: 16px;
  text-align: left;
  border-bottom: 2px solid #e2e8f0;
  white-space: nowrap;
  box-sizing: border-box;
}

.table4-emner-stat td {
  padding: 14px;
  border-bottom: 1px solid #e2e8f0;
  color: #4a5568;
  box-sizing: border-box;
}

/* TABLE 5 - Vitenskapelige beregninger */ 

.table5-emner-vitenskap { 
  width: 100%; 
  border-collapse: separate; 
  border-spacing: 0; 
  background: #ffffff; 
  box-sizing: border-box;
  width: 100%;
  max-width: 800px;
  margin: 20px auto;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.table5-emner-vitenskap th {
  background: #ffe481;
  color: #2d3748;
  font-weight: 600;
  padding: 16px;
  text-align: left;
  border-bottom: 2px solid #e2e8f0;
  white-space: nowrap;
  box-sizing: border-box;
}

.table5-emner-vitenskap td {
  padding: 14px;
  border-bottom: 1px solid #e2e8f0;
  color: #4a5568;
  box-sizing: border-box;
}


/* responsitiv til små skjermer/mobile enheter */
@media screen and (max-width: 768px) {
    table,thead,tbody,tr,th,td{
        display: block;
        width: 100%;
        box-sizing: border-box;
    }
}

    /*CSS til collapsible*/
    
    .accordian{
      margin: 60px auto;
      width: 600px;
  }
  
  .accordian li{
      list-style: none;
      width: 100%;
      margin: 20px;
      padding: 10px; 
      border-radius: 8px;
      background-color: azure;
  }
  
  .accordian li label{
      display: flex;
      align-items: center;
      padding: 10px;
      cursor: pointer;
  }
  
  label::before{
      content: "+";
      margin-right: 10px;
  }
  
  input[type="checkbox"]{
      display: none;
  }
  
  .accordian .content{
      color: #555;
      padding: 0 10px;
      line-height: 26px;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.5s, padding 0.5s;
  }
  
  .accordian input[type="checkbox"]:checked + label + .content{
      max-height: 1000px;
      padding: 10px 10px 20px;
  } 
  
  .accordian input[type="checkbox"]:checked + label::before{
      content: "-";
  }
  /* Responsiv tilpasning små nettbrett, mobil */
@media (max-width: 768px) {
  .accordian {
    margin: 30px auto;
  }

/* endrer størrelsen på elementer som font, padding og bredden på mindre skjermer 
- forhindre at de tar for mye plass */
  .accordian li {
    margin: 10px 0;
    padding: 8px;
  }
/* gir mer kompakt visning */
  .accordian li label {
    font-size: 14px;
    padding: 8px;
  }
/* reduserer avstanden til labeltekst og +/- -tegn */
  label::before {
    margin-right: 8px;
  }
  .accordian .content {
    font-size: 12px;
    line-height: 22px;
  }
}
/* Skjermtilpasset de minste mobilenhetene */
@media (max-width: 480px) {
  .accordian {
    margin: 20px auto;
  }
  .accordian li {
    margin: 8px 0;
    padding: 6px;
  }
  .accordian li label {
    font-size: 12px;
    padding: 6px;
  }
  label::before {
    margin-right: 6px;
  }

  .accordian .content {
    font-size: 10px;
    line-height: 18px;
  }
}

  /*CSS til activity-pace*/
  .body-activity{
    background-color: #EEEBDF;
}
.activity-header{
    height: 400px;
    width: 1100px;
    align: center;
}

.h1-activity{
    font-size: 50px;
    text-align: center;
}

.main-activity{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

section{
    max-width: 40%; /*for å få 2 boxer ved siden av hverandre*/
    margin: 1em;
    padding: 0.5em;
    background-color: rgb(250, 240, 228);
}

.knitting{
max-width: 100%; /* får bildet til å passe flexboxen*/
padding-top:10px;
}



